* {
    padding: 0;
    margin: 0;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

@font-face {
    font-family: product-sans;
    src: url(psans.ttf);
}

::-webkit-scrollbar {
    display:none;
}


body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: #111111;
    color: #EEE;
    text-align: center;
    padding: 2em 0;
    font-family: product-sans;
}


img { width: 10em }

h1 { color: white }

h2 { color: #3DDC84 }

h3 { color: lightskyblue }

center > div {
    padding-top: 1em;
    max-width: 20em;
}

a {
    color: tomato;
    text-decoration: none;
    transition-duration: .3s;
}

a:hover {
    color: lightcoral;
    transition-duration: .3s;
}

i { opacity: 0.5; }

table {
    border:none;
    margin-left:auto;
    margin-right:auto;
}

th {
    border:none;
    text-align:right;
    vertical-align:top;
    width:20em;
    color: rgba(255,255,255,0.9);
}

td {
    color:rgba(255,255,255,0.5);
    border:none;
    text-align:left;
    width:20em;
}

ul {
    padding: 1em;
    list-style: none;
    margin-left:-5em;
}

ul > h3 { padding: 0.5em }

li { padding: 0.5em; }
