* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@font-face {
    font-family: product-sans;
    src: url(plex.ttf);
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-size:cover;
    background-position:fixed;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    user-select: none;
    font-family: product-sans;
}


div {
    flex: 25%;
    min-width: 300px;
    min-height: 300px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

div>h1 {
    margin-bottom: .3em;
}

div>h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    opacity: 0.3;
    position: absolute;
    top: .5em;
    left: .6em;
}

div>p {
    margin: 0 1em 1em;
    width: 90%;
}

a {
    text-decoration: none;
    color: black;
}

a:before {
    content: "↗ ";
}

a:hover {
    color: purple;
}

#main,
#about,
#education,
#links,
#android,
#flutter,
#other,
#projects {
    backdrop-filter: blur(10px); 
    transition-duration: 2s;
}
