* {
    padding: 0;
    margin: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
     transition-duration: 2s;
}

@font-face { transition-duration: 2s;
    font-family: plex;
    src: url(plex.ttf);
}

::-webkit-scrollbar {
    display: none;
}

body {
    background:url('https://source.unsplash.com/random/720x720/?white');
    background-size:cover;
    background-attachment: local;
    user-select: none;
    font-family: plex;
}

.bg {
    backdrop-filter: blur(8px); 
    position:absolute fixed;
    height:100%;
    width:100%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.container > div {
    flex: 25%;
    min-width: 300px;
    min-height: 300px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}


div>h1 {
    margin-bottom: .3em;
}

div>h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    opacity: 0.3;
    position: absolute;
    top: .5em;
    left: .6em;
}

p {
    margin: 0 1em 1em;
    width: 90%;
}

.siema {
    width:100%;
}

a {
    text-decoration: none;
    color: black;
}

a:before {
    content: "↗ ";
}

a:hover {
    color: purple;
}
